{% extends 'base.html' %}

{% block title %}{{ poll.question }}{% endblock %}

{% block menu %}
    <li><a href="{% url 'poll_update' poll.pk %}">Update</a></li>
    <li><a href="{% url 'poll_delete' poll.pk %}">Delete</a></li>
{% endblock %}

{% block content %}
    <h1>{{ poll.question }}</h1>
    <p>Created at {{ poll.created_at|date:'d.m.Y H:i:s' }}</p>
    <hr/>
    <h3>Choices:</h3>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <div class="choice-list">
        {% for choice in choices %}
            <div class="choice">
                <div class="pre">{{ choice.choice_text}}</div>
                <p class="choice-links">
                    <a href="{% url 'choice_update' choice.pk %}">Edit</a>
                    <a href="{% url 'choice_delete' choice.pk %}">Delete</a>
                </p>
            </div>
        {% empty %}
            <p>No choises yet.</p>
        {% endfor %}
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
     <form action="{% url 'poll_choice_create' poll.pk %}" method="POST" id="add_choice">
            {% include 'partial/form.html' with button_text='Add' %}
        </form>
{% endblock %}