 
{% extends 'base.html' %}

{% block menu %}
    <li><a href="{% url 'choice_add_add' %}">Add Choice</a></li>
{% endblock %}

{% block content %}
    <h1>Choices:</h1>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    {% for choice in choices %}
        <div class="choice">
            <p>To Poll: <a href="{% url 'poll_view' choice.poll.pk %}">{{ choice.poll.question }}</a></p>
            <div class="pre">{{ choice.choice_text }}</div>
        </div>
    {% empty %}
        <p>No choices yet.</p>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}